<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tibi.common.function.lib">

    <application>
        <!-- glide配置 -->
        <meta-data
            android:name="lib.android.timingbar.com.imageloader.glide.GlideConfiguration"
            android:value="GlideModule" />
        <!--领卷中心-详情-->
        <activity
            android:name=".module.ticket.detail.TicketDetailActivity"
            android:screenOrientation="portrait" />
        <!--领卷中心-->
        <activity
            android:name=".module.ticket.CollarTicketActivity"
            android:screenOrientation="portrait" />
        <!--我的优惠-->
        <activity
            android:name=".module.discount.MyDiscountActivity"
            android:screenOrientation="portrait" />
        <!--我的优惠-详情-->
        <activity
            android:name=".module.discount.detail.DiscountDetailActivity"
            android:screenOrientation="portrait" />
        <!--历史优惠-->
        <activity
            android:name=".module.discount.history.HistoryDiscountActivity"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest>

